* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}

.header {
    background-color: #151517;
    padding: 7px 0;
}

.wrapper {
    max-width: 1171px;
    margin: 0 auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.right img {
    padding-right: 8px;
}

.right {
    column-gap: 14px;
}

.right p {
    font-size: 14px;
    color: #f1f1f3;
    font-weight: 400;
    font-family: "Roboto";
    display: flex;
    align-items: center;
}

.nav {
    padding: 20px 0;
}

.logo {
    font-size: 30px;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.navigation {
    column-gap: 28px;
    display: flex;
    align-items: center;
}

.navigation a {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto";
}

.adv {
    background: url('../img/bg.png') no-repeat;
    background-size: 100%;
    height: 381px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 108px 0;
    box-sizing: border-box;
}

.adv div {
    padding-top: 20px;
    max-width: 610px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.t1 {
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 60px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
    white-space: nowrap;
    width: 755px;
    margin-bottom: 46px;
}

.t2 {
    width: 1170px;
    height: 82px;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
    margin-bottom: 46px;
}

.adv button {
    width: 220px;
    height: 60px;
    border-radius: 5px;
    background-color: #f5ed08;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
}

.advantages {
    max-height: 382px;
    max-width: 270px;
    column-gap: 59px;
    padding-top: 59px;
}

.p0 {
    font-size: 18px;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
    width: 209px;
    padding-bottom: 16px;
}

.p1 {
    max-width: 210px;
    height: 64px;
    font-size: 14px;
    line-height: 21px;
    color: #878787;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
}

.advantages {
    margin-bottom: 59px;
}

.advantages img {
    padding-bottom: 31px;
}

.quality {
    border: 2px solid #f5ed08;
    padding: 26px 29px;
    display: inline;
    justify-content: center;
}

.time,
.dostavka,
.quality,
.tsiny {
    max-width: 270px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.p11 {
    width: 270px;
    height: 64px;
    font-size: 14px;
    line-height: 21px;
    color: #878787;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
}

.info {
    height: 238px;
    background-color: #f1f1f3;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.infop1 {
    padding-top: 45px;
    font-size: 36px;
    line-height: 46px;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
}

.infop2 {
    padding-top: 28px;
    width: 970px;
    height: 88px;
    font-size: 16px;
    line-height: 24px;
    color: #878787;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
}

.test {
    background: url('../img/black-bean-close-up-cooked-1640774.png') no-repeat;
    background-color: #000;
    background-size: 100%;
    padding: 57px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.t11 {
    max-width: 850px;
    height: 88px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
}

.test div {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test button {
    width: 240px;
    height: 60px;
    border-radius: 5px;
    background-color: #f5ed08;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
}

.pt {
    padding-top: 54px;
    font-size: 36px;
    line-height: 46px;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
    padding-bottom: 31px;
}

.nav2 {
    display: flex;
    justify-content: center;
    column-gap: 9px;
}

.nav2 a,
.a5 {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #f5ed08;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    margin-bottom: 36px;
}

.a1 {
    background-color: #f5ed08;
}

.i1,
.i2,
.i3,
.i4,
.i5 {
    height: 300px;
    width: 384px;
}

.img {
    box-sizing: border-box;
    width: auto;
    max-width: 100%;
    white-space: nowrap;
    display: flex;
    column-gap: 0px;
}

.p5 {
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

.vidguky {
    height: 498px;
    background-color: #f1f1f3;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text1 {
    font-size: 36px;
    line-height: 46px;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
    padding-top: 53px;
    padding-bottom: 32px;
}

.vidguk {
    width: 770px;
    height: 134px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.vidguk p {
    width: 727px;
    height: 76px;
    font-size: 15px;
    line-height: 24px;
    color: #878787;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
}

.peoples {
    display: flex;
    column-gap: 10px;
    padding-top: 30px;
}

.c1,
.c3 {
    overflow: hidden;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c2 {
    overflow: hidden;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #ff0000;
    border: 2px solid #f5ed08;
}

.name {
    font-size: 14px;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding-top: 17px;
}

.sub-name {
    font-size: 13px;
    line-height: 24px;
    color: #878787;
    font-weight: 300;
    font-family: "Roboto";
    padding-top: 9px;
}

.dostavka {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 18px;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.tsiny {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: #151517;
    height: 316px;
}

.logo-wrapper {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding-top: 50px;
}

.nhjsdfdfsg {
    font-size: 13px;
    line-height: 24px;
    color: #878787;
    font-weight: 300;
    font-family: "Roboto";
}