* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial";
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.header a {
    color: #b1b1d2;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: "Arial";
    transition: all .3s ease;
}

.nav {
    display: flex;
    column-gap: 26px;
}

.header a:hover {
    color: #fd8300;
}

.header {
    background-color: #1f1f56;
    max-height: 55px;
    padding: 16px 120px;
}

.icons {
    display: flex;
    column-gap: 23px;
}

svg {
    fill: #fff;
    transition: all .3s ease;
}

svg:hover {
    fill: #fd8300;
}

.contacts {
    padding: 27px 120px;
}

.palka {
    width: 1px;
    height: 51px;
    background-color: #e4e4ec;
}

.contacts p {
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
}

.contacts button {
    width: 200px;
    height: 51px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #fd8300;
}

.test {
    padding-left: 27px;
}

.logo {
    column-gap: 11px;
    display: flex;
}

.logo img {
    width: 17px;
    height: 17px;
}

.mail,
.skype {
    column-gap: 11px;
    display: flex;
}

.mail img {
    width: 18px;
    height: 13px;
}

.skype img {
    width: 18px;
    height: 19px;
}

.phone a {
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    text-decoration: none;
}

.mail a,
.skype a {
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
}

.skype a {
    text-decoration: none;
}

button {
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
}

.adv p {
    padding-top: 40px;
}

.adv {
    background-image: url('img1.png');
    background-size: 100%;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}

.t1 {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
    display: flex;
    justify-content: center;
}

.t2 {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    text-align: center;
}

.t3 {
    font-size: 40px;
    color: #fd8300;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.t4 {
    font-size: 24px;
    color: #fd8300;
    font-weight: bold;
    display: flex;
    justify-content: end;
}

.adv p {
    justify-content: center;
    align-items: center;
}

.main-text {
    max-width: 669px;
    padding-left: 120px;
    padding-top: 43px;
}

h1 {
    padding-bottom: 28px;
}

.text1 {
    padding-bottom: 24px;
}

.text2,
.text1 {
    font-size: 14px;
    line-height: 24px;
    color: #666;
}

.link a {
    font-size: 14px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
}

.link {
    padding-top: 28px;
    margin-bottom: 34px;
}

.razdelitel {
    height: 1px;
    width: 714px;
    background-color: #e4e4ec;
    margin: 0 0 32px 120px;
}

.projects {
    padding-left: 120px;
}

.p1 {
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    
}